* {
  text-align: center;
}

h1 {font-family: 'Fruktur', cursive;
  font: 24px/30px black;
  }

p {font-family: 'Architects Daughter', cursive;
  font: 12/16px black;
}
#self {
 -moz-border-radius: 50%;
 border-radius: 50%;
}

#greeting {
font-family: 'Fruktur', cursive;
}
